
* {
    box-sizing: border-box;
}

html {
    background-color: rgb(231,213,213);
}

body {
    text-align: center;
    font-style: italic;
    color: rgb(48,38,92);
    font-size: 18px;
}

img {
    height: 250px;
    width: 350px;
    border: 2px solid rgb(255,208,208);
}

.flex-container {
    display: flex;
    
    
}

.flex-child {
    flex: 1px;
    
}

.second {
    margin-right: 20px;
}

.box {
    position: relative;
    background-color: rgb(149,166,201);
    height: 90px;
    width: 275px;
    margin: auto;
    padding: 0;
    border: 5px solid rgb(149,166,201);
    
}

.square {
    background-color: rgb(149,166,201);
    width: 350px;
    height: 100px;
    position: relative;
    border: 2px solid rgb(255,208,208);
}

.audio-container {
    position: relative;
   top: 10px;
}

.relative {
    position: relative;
    top: 15px;
}