* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
h3 {
    text-align: center;
    justify-self: center;
    color: white;
    margin-top: 10%;
    font-size: xx-large;
}
body {
    background-color: darkslategray;
}

.container { 
    height: 200px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  button {
    width: 30vh;
    height: 15vh;
    margin-top: 10vh;
  }