* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: darkseagreen;
}

.more-specific {
    background-color: darkslateblue;
    padding: 20px;
 }
p{
    background-color: rgb(170, 228, 228);
    padding:10px;
    background-color: crimson;
}

#even-more-specific {
    background-color:lightsalmon
}

.square {
    background-color: lavender;
    width:200px;
    height: 200px;
    border:1px solid darkblue;
    margin:20px 0 ;

   

}
.relative {
    background-color: burlywood;
    position:relative;
    bottom: -40px;
    right: -40px;
}

.fixed {
    background-color: pink;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
}

.absolute {
    background-color: coral;
    position: absolute;
    bottom: 70px;
    right: 70px;
}
.container {
    background-color: dimgray;
    width: 500px;
    height:500px;
    border:1px solid black;
    margin:20px 0;
    position: relative;
}